aiohappyeyeballs==2.6.1
aiohttp==3.12.0
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.3.0
audioop-lts==0.2.1
black==25.1.0
click==8.2.1
colorlog==6.9.0
confspec==0.0.3
discord.py==2.5.2
dotenv==0.9.9
frozenlist==1.6.0
idna==3.10
linkd==0.0.7
multidict==6.4.4
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
propcache==0.3.1
psycopg==3.2.9
psycopg-pool==3.2.6
python-dotenv==1.1.0
typing_extensions==4.13.2
utils==1.0.2
yarl==1.20.0
